* {
  box-sizing: border-box; /*calculates total box size, includes margin and padding and resizes*/
  }
 
body { 
	margin: 0;
	padding: 0;
	background-color: rgb(28,15,74);	/* Russian Violet */
  	font-family: sans-serif;			  	
	color: rgb(237,201,175);		/* Desert Sand */
}

header {
	background-color: rgb(28,15,74);	/* Russian Violet */
	padding: 5%;
	text-align: center;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100;
	background-color: rgb(28,15,74);	/* Russian Violet */
	font-size: x-small;	
	color: rgb(237,201,175);		/* Desert Sand */
	padding: 1%;
	text-align: center;
	z-index: 1000;		/* z-index indicates depth of the positioned element */
}

div.container {
	display: flex;
	flex-direction: row;
	text-align: justify;
/*	width: 80%;
  	margin-left: 10%;
  	margin-right:10%;
  	text-justify: inter-word;*/
}

div.container > div {
	margin: 10px;
}

/* Use a media query to add a breakpoint at 600px: */
@media screen and (max-width: 600px) {
div.container {
	flex-direction: column;
	}
}



/*  width: 100%;  The width is 100%, when the viewport is 600px or smaller
    margin-left: auto;
  margin-right: auto;
  }*/







/*column pushes under*/
@media screen and (max-width: 600px) {
.column {
  width: 100%;
  }
} 









img { /*does this effect the modal img?*/
  max-width: 100%;
  height: auto;
}


.smallfont {
  font-size: 0.5em;
}


	



